body {
  margin: 0;
  font-family: 'Minecraftia', arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Minecraftia', arial;
}

div {
  font-family: 'Minecraftia', arial;
}

@font-face {
  font-family: 'Minecraftia';
  src: url('./assest/Minecraftia-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}