.stages {
    font-size: 20px;
    margin-bottom: 20px;
}

.stage {
    color: #555;
    font-family: 'Minecraftia';
}

.stage.active {
    color: rgba(86, 255, 113, 1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}